.motorbike-show-card{
  text-align: center;
  margin-top: 40px;
}

.moto-photo-show{

  object-fit: contain;
  object-position: center;
  box-shadow: 0px 5px 16px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
}

.motorbike-show-price{
   margin-top: 100px;
  font-size: 40px;
}

.name{
  margin-top: 45px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
}

.motorbike-show-description{
  margin-top: 70px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
}

#map{
  margin-top: 10 px;
}

// .align-center{
//   text-align: center;
//   margin-top: 10px;
//   font-family: Arial, Helvetica, sans-serif;
//   font-size: 50px;
// }

// .container{
//   display: flex;
//   // justify-content: space-evenly;

//   gap: 1em;
// }

.align-center{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
}
