<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="fixed-bottom">
  <footer class="fixed-bottom bg-light text-center border-top border-light position-absolute bottom-0 start-0 text-black w-100">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.1);">
      © 2023 Copyright:
      <a class="text-black text-decoration-none" href="https://www.lewagon.com/fr" target="blank">LeWagon</a>
    </div>
  </footer>
</div>
